@font-face { 
  font-family: 'OppenSans'; 
  src: url('../font/OpenSans-Regular.woff2') format('woff2'),
       url('../font/OpenSans-Regular.eot') format('eot'),
       url('../font/OpenSans-Regular.svg') format('svg'),
       url('../font/OpenSans-Regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('../font/OpenSans-Regular.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'OppenSans'; 
  src: url('../font/OpenSans-Light.woff2') format('woff2'),
       url('../font/OpenSans-Light.eot') format('eot'),
       url('../font/OpenSans-Light.svg') format('svg'),
       url('../font/OpenSans-Light.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('../font/OpenSans-Light.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal; 
}

/*BORDER STYLES*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body {
	font-family: 'OppenSans', serif;
	font-size: 14px;
	color: #3c4049;
}

.main_form div{
	width:100%;
	text-align: center;
	margin-bottom: 5px;
}


.top_board {
		width: 100%;
	/*	height: 130px;*/
		padding-bottom: 45px;
		background: url(/image/backgr.png) no-repeat top right,
					url(/image/backgr.png) repeat-x,
					url(/image/backgr.png) no-repeat top left;
								
}
.middle {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: -10px;
	background-color: #585453;
	min-height: calc(100vh - 167px);
}
	
.top_board_small {
	width: 100%;
	height: 30px;
	background: url(/image/backgr.png) no-repeat top right,
				url(/image/backgr.png) repeat-x,
				url(/image/backgr.png) no-repeat top left;
}
.middle_small {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: -10px;
	background-color: #585453;
	min-height: calc(100vh - 50px);
}
	
	.bottom_board {
		width: 100%;
		height: 30px;
		background-image: url(/image/i.png);
	}
	
	.left_board {
		flex-basis:30px;
		background-image: url(/image/i.png);
	}
	
	.right_board {
		flex-basis: 30px;
		background-image: url(/image/i.png);
		
	}

    .content{
    	/*border_styles.css*/
    	border: 5px solid black;
    	border-radius: 10px;
	    background-color: #b1ae8f;
    	/*margin-top: -70px;*/
    	width: 100%;
    }
  .main_form {
	width: 100%;
	padding: 10px;
	background: #fff;
	border-radius: 5px;
	border: 5px solid #dddddd;
	display:flex;
	min-height: calc(100vh - 187px);
}

/*MENU STYLES*/
.menu {
  /*width: 100%;*/
  margin: 0 auto;
  max-width: 1250px;
  display: flex;
  text-align: center;
  list-style-type: none;
  font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
/*  margin-left: 8.5px; - из-за этого горизонтальный скролл*/
    
}

.menu a{
	display: block;
	text-decoration: none;
	color: #e4ffd3;
	font-size: 20px;
	padding: 10px;
	/*margin-top: 35px;*/
}

.menu li {
  flex: 1 1 100%;
  /*height: 120px;*/ /*лучше не задавать фиксированную высоту элементам вообще. Высоту делаем паддингами*/
	}
.menu-button {
	display: flex;
    justify-content: center;
	align-items: center;
	
}
.menu-button:first-child {
	position: relative;
}
.menu-button__profil {
	width: 289px;
	padding: 32px 44px;
	font-size: 16px;
	color: #3c4049;
	background-color: #ffffff;
	top: 100px;
	left: 100px;
	display: none;
	position: absolute;
	border: 5px solid #dddddd;
	border-radius: 10px;
	text-align: left;
}
.menu-button__profil:bofore {
	content: "";
	left: 20px;
	top: -20px;
	background: url('../image/menu-button__profil.png');
	background-size: 100%;
	width: 39px;
	height: 25px;
}
.menu-button:hover .menu-button__profil{
	display: block;
}
/*
li:last-child{
	margin-right: 15px; зачем? логичнее будет прибить меню по краям
}*/

.fon {
	background-image: url(/image/fon_menu.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    margin-left: 10px;
    margin-right: 10px;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li:last-child {
	margin-right: 0;
}
body {
    background-color: black;   
}
/*navigation__arrows*/
.navigation__arrows .icon {
	font-size: 30px;
	padding: 13px;
}
.navigation__arrows a {
	color: #000000;
}
/*SCHEDULE STYLES*/
.main{
	width: 100%;
	display: flex;
	flex-direction: column;
	#border: 1px solid red;
	margin-right: 10px;
}
.sidebar{
	width: 25%;
	min-width: 140px;
	border-left: 1px solid black;
	padding-left: 5px;
}

.main_form .cell{
	text-align: left;	
}

.main_form .cell_icons{
	width: 60px;
	display: flex;
	padding-top: 10px;
}
.delete{
	margin-left: 5px;
}

/*FORM STYLES*/
.form_input,.form_list_item{
	width: 100%;
	border:1px solid #dddddd;
	padding: 9px;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form_button {
	/*width: 100%; Как насчет того, чтобы прописать это прямо в теге?*/
	background-color: #56241f;
  padding: 10px 20px;
	border-radius: 5px;
	border:none;
	text-decoration: none;
	color: #fff;
	margin-bottom: 10px;
}
.icon_back{
	background-color: #56241f;
	padding: 8.5px;
	border-radius: 5px;
}

.form_filter{
	width: 100%;
	height: 35px;
	border:1px solid #56241f;
	border-radius:5px;
}

/*FORM SEARCH STYLES*/
.container_search {
	min-width: 120px;
	position: relative;
	margin-bottom: 10px;
}

/*Необходимо отключ рамку*/
.container_search input {
  border: none;
}

/* стили для поля ввода */
.container_search .form_search {
  /* растягиваем поле ввода на всю ширину формы */
  width: 100%;
  padding: 8px 37px 9px 15px;
  border: 1px solid #56241f; 
  border-radius: 5px;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}
/* оформляем кнопку отправки */
.container_search .search_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
}

input[type="search"] {
  -webkit-appearance: none;
}

/*LOGIN STYLES*/
.form_head{
	 text-align:center; 
	 margin-bottom: 20px;
}

.container_log{
	height: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

/*Board task status*/

.main_form .cell{
	width: 30%;
	text-align: left;	
}

.main_form .cell_icons{
	width: 60px;
	display: flex;
}

.block_color{
	flex-basis: 20px;
	height: 50px;
}
.block_color:hover:after {
	content: attr(data-title); /* Выводим текст */
  position: relative; /* Абсолютное позиционирование */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
	color: white;
}

.list_item {
	padding-top: 0;
	padding-bottom: 0;
}
.main_form .ce{
	margin-bottom: 0;
}
/*Горизонтальное расположение элементов label,input,button
(страниц категория задач, новоая категория)*/
.new_categ{
	display: flex;
}

/*.content{
	min-height: calc(100vh - 57px);

}
.top_board{
	height: 60px;
}
.bottom_board{
	height: 20px;
}
.left_board,.right_board{
	flex-basis: 20px;
}*/


/*page categories*/
.content-white {
	background-color: #fff;
	height: 100%;
}
.page__add-new {
	margin: 0 30px;
	padding: 30px 0;
	border-bottom: 1px solid #3c4049;
}
.add-btn {
	display: inline-block;
	padding: 14px;
	margin: 0 20px;
	text-align: center;
	min-width: 160px;
	border: 1px solid #56241f;
	background-color: #56241f;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
}

.add-btn:hover {
	background-color: rgba(86, 36, 31, 0.6);
}
.page-cat__list_item {
	display: flex;
	padding: 30px;
}
.page-cat__list_col {
	font-size: 16px;
	min-width: 25%;
}
.list_col-username {
	font-size: 16px;
	padding: 0 15px;
	text-decoration: underline;
	min-width: 15%;
}
.btns {
  padding: 0 3px;
}
/*new cat*/
.page-newcat__cat_form {
	max-width: 440px;
	margin: 0 auto;
	padding: 20px 30px;
	border: 5px solid #dddddd;
	border-radius: 10px;
	background-color: #fff;
}
.page-newcat__cat_form_header {
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}
.page-newcat__label {
	display: inline-block;
	width: 33%;
}
.page-newcat__field {
	display: inline-block;
	width: 66%;
}
.page-newcat__field input {
	border: 1px solid #3c4049;
	border-radius: 10px;
	padding: 16px;
	width: 100%;
}
.page-newcat__str {
	padding: 15px 0;
	border-bottom: 1px solid #3c4049;
}
.page-newcat__rights {
	font-weight: bold;
	padding: 12px 0 0 0;
}
.page-newcat__centr {
	text-align: center;
	margin: 14px 0;
}
.add-btn input {
	background: transparent;
	border: none;
	color: #fff;
}
.page-newcat__select {
	width: 100%;
	border-radius: 10px;
	padding: 15px;
	margin: 15px 0;
}
/* .page-newcat__select::-webkit-scrollbar { 
	width: 3px; 
	height: 3px;
} */
/* .page-newcat__select::-webkit-scrollbar-button { background-color: #666; }
.page-newcat__select::-webkit-scrollbar-track { background-color: #999;}
.page-newcat__select::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.page-newcat__select::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
.page-newcat__select::-webkit-scrollbar-corner { background-color: #999;}
.page-newcat__select::-webkit-resizer { background-color: #666;} */

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
	background-color: #000;
  margin: 2% 0;
}

.scroll::-webkit-scrollbar {
  width: 1px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
	background-color: #000;
	width: 10px;
}
:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}
/*page-schedule*/
.page-schedule__items {
	margin: 30px;
}
.page-schedule__list-wrap {
	height: auto;
}
.page-schedule__list {
	border: 1px solid #3c4049;
	border-radius: 10px;
	padding: 25px;
	margin: 10px;
	position: relative;
}
.page-schedule__edit {
	position: absolute;
	top: 25px;
	right: 25px;
}
.page-schedule__edit a {
	text-decoration: none;
}
.page-schedule__items .slick-slide {
	height: auto;
}
.slider-arrows {
	bottom: -33px;
	position: absolute;
	font-size: 26px;
}
.slider-arrow-left {
	left: 46%;
}
.slider-arrow-right {
	right: 46%;
}
.list_col-item {
	width: 40%;
	display: inline-block;
}
/*new */
/* {
	border: 5px solid #dddddd;
	background-color: #fff;
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
} */