.form_css {
		display: block;
		margin: 0 auto;
		#border: 1px solid black;
		width: 500px;
		padding: 5px;
}

.form_str {
		display: block;
		width: 500px;
}

.form_str input {
	width: 100%;
}

.form_col {
		display: inline-block;
		width: 49%;
}

.form_col input {
	width: 100%;
}


.main_message {
	display: block;
	margin 0 auto;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

input{
	font-size: 14px;
	border: 1px solid #c6c6c6;
	border-radius: 10px;
}

input[placeholder]{
	width: 380px;
	padding: 12px 15px;
}

.form_col{
	margin: 10px;
}

.form_str_last{
	display:flex;
	justify-content: center;
  align-items: center;
  #border: 1px solid red;
}

a.registr,input.registr {
	background-color: #56241f;
	color: #fff;
	font-size: 14px;
	padding: 10px 25px;
	margin-right: 5px;
    cursor: pointer;

}

img.icon_back{
	background-color: #56241f;
	padding: 7px;
	border-radius: 10px;
}

a.registr,.login {
	background-color: #56241f;
	color: #fff;
	font-size: 14px;
	padding: 10px 30px;
	margin-right: 5px;
   cursor: pointer;
   text-decoration: none;
   border-radius: 10px;
}

.login{
	-webkit-appearance: none;
	padding: 10px 70px;
	margin-bottom: 10px;
}
